<!-- Partial intended to be overwritten with tags loaded at the end of the page loading (usually for Javascript)
<script>
    console.log("running some javascript");
</script>
-->

<a href='https://www.ornl.gov/ornl/contact-us/Security--Privacy-Notice'>Privacy</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href='https://www.ornl.gov/content/accessibility'>Accessibility</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href='https://www.ornl.gov/content/contact-us'>Contact The Lab</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href='https://www.ornl.gov/'>ORNL Home Page</a>
    <br><span id="bottom_ornl_statement">Oak Ridge National Laboratory is managed by UT-Battelle for the Department of Energy</span>
